@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;

}

/*Nav*/
nav {
    font-family: 'Ubuntu', sans-serif;
    
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: #fff;
}



.brand img {
    width: 46px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li {
    padding: 0 12px;
}

/*Progress Bar*/

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.jpg);
    background-position: center;
}

.bottom{
    height: 100px;
    position: sticky;
    background-color: black;
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;

    color: black;
    top: 12px !important;
    bottom: 12px !important;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    position: relative;
}

.songItem img{
    width: 43px;
    margin: 0 4px;
    border-radius: 100px;
    
}

.timestamp{
  margin: 0 23px;
}

.timestamp i {
    position: relative;
    left: 12px !important;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 23px;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round',sans-serif;
}
.songInfo img{
    width:42px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    padding-right: 10px;
}

@media only screen and (max-width: 1000px){
    .icons{
      position: absolute;
     bottom: 0 !important;
    }
    .songInfo{
        position: absolute;
      bottom: 50px !important;
     left: 34%;
    }
    #myProgressBar{ position: absolute;
        bottom: 80px;
    }

     .songname{
        font-size: 0.7rem;
     }
  }